.avatar-container {
  position: relative;
  width: 62px;
  height: 60px;
  border-radius: 18px;
  background: #7d7d7d;

  display: flex;
  align-items: center;
  justify-content: center;
}
.avatar-wrapper {
  width: 56px;
  height: 56px;
  border-radius: 15px;
  background-color: #000;

  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-button {
  position: absolute;
  right: 12px;
  bottom: 13px;

  color: var(--White-50, #fff);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 0px;
}
