@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Pretendard';
}

/* 배경 이미지 */
body[data-theme='dark']::before {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/images/bg-image.png');
  background-size: cover;
  opacity: 0.6;

  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
  z-index: -1;
  content: '';
}
body {
  .nav {
    background: var(--nav-color);
  }

  .left-side {
    background-color: var(--sidebar);
  }
  .message-container {
    background-color: var(--sidebar-inner);
  }
}

body[data-theme='dark'] {
  .nav,
  .left-side,
  .right-side,
  .message-container,
  .chat-header {
    background: transparent;
  }
  .footer {
    background: rgba(0, 0, 0, 0.5);
  }
  .nav:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: var(--nav-color);
    pointer-events: none;
  }
  .nav::after {
    content: '';
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 50px;

    opacity: 1;
    background: linear-gradient(
      to bottom,
      var(--nav-color-rgba),
      var(--nav-color-rgba2)
    );
    pointer-events: none;
  }
}

.input-reset {
  border: none;
  outline: none;
}

.chat-placeholder::placeholder {
  color: #b0bfca;
}

/* 스크롤 없음 */
.scroll-none::-webkit-scrollbar {
  display: none;
}

/* 스크롤 바 */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
/* 스크롤바 막대 */
::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: 6px;
}
/* 스크롤바 막대 hover 시 */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-hover);
}
/* 스크롤바 트랙 */
::-webkit-scrollbar-track {
  background-color: var(--scrollbar-background);
}

/* 드래그 방지 */
body {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
  user-select: none;
  user-drag: none;
  app-region: no-drag;

  box-sizing: border-box;
}
img,
a {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

input,
input:focus,
select,
select:focus {
  outline: none;
}

#birth-0 {
  display: none !important;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-out forwards;
}
.animation-delay-200 {
  animation-delay: 200ms;
}
.animation-delay-400 {
  animation-delay: 400ms;
}

.testimonial-container {
  width: 100%;
  overflow: hidden;
}
.testimonial-slider {
  display: flex;
  transition: transform 0.5s ease;
}
.testimonial-item {
  width: 33.3%;
}

/* shadcn */
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
}
