.card-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  row-gap: 21px;
  flex-wrap: wrap;
}

/* TODO: 간격 조정 필요 */
.card {
  display: flex;
  width: 350px;
  padding: 19px 29px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  
  border-radius: 12px;
}

.finished {
  background-color: #cfcfcf;
}
.ongoing {
  background-color: var(--White-50, #fff);
}

.list-container {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.list {
  display: flex;
  width: 100%;
  padding: 14px 16px;
  align-items: center;

  border-radius: 15px;
}

/* SubSelectBox.css */
.subTitle {
  font-family: Poppins;
  color: #202020;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
}
.subDesc {
  font-family: Poppins;
  color: #84818a;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.button {
  border-radius: 12px;
  border: 1px solid #dcdbdd;
  background: var(--White-50, #fff);

  display: flex;
  padding: 9px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* GameSelectBox.css */
.gameList {
  height: 68px;
  padding: 4px 0;
  display: flex;
  gap: 9px;
  overflow-x: auto;
  overflow-y: unset;
  white-space: nowrap;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
.gameList {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-use-select: none;
  user-select: none;
}
.gameList img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

/* GameSelectBox.css */
