/* FrontCard.css */
.front {
  z-index: 10;
  border-radius: 1rem;
}
.front-image {
  object-fit: cover;
  opacity: 0.8;
  border-radius: 1rem;
}
.front-title {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;

  position: absolute;
  bottom: 0px;

  background: rgba(125, 18, 255, 0.4);
  padding: 16px 18px;
  border-radius: 10px 10px 1rem;
}
.front-name {
  color: var(--White-50, #fff);
  leading-trim: both;
  text-edge: cap;
  text-align: start;

  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}
.front-title .others {
  color: var(--White-50, #fff);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.6;
}
.others > span:not(:last-child) {
  padding-right: 14px;
  position: relative;
}
.others > span:not(:last-child)::after {
  content: '|';
  position: absolute;
  font-weight: 500;
  font-size: 16px;
  margin-left: 4px;
}
