/* Title.css */
.game-list-card-title {
  color: #4e4e4e;

  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.game-list-card-description {
  color: var(--White-400, #989898);

  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.game-list-card-description--small {
  color: #4e4e4e;

  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* UserAvatar.css */
.image--small {
  height: 24px;
}
.image--medium {
  height: 34px;
}

.avatar-image {
  position: absolute;
  height: 100%;
  width: auto;
  aspect-ratio: 1;

  background-color: #d9d9d9;
  border: 1px white solid;
}

/* JoinButton.css */
.join-button {
  width: 100%;

  display: inline-flex;
  height: 33px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  p {
    font-family: 'Plus Jakarta Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
  }
}

.join {
  border-radius: 25px;
  border: 1px solid #7d12ff;
  background-color: var(--White-50, #fff);

  p {
    color: #7d12ff;
  }
}
.fin {
  border-radius: 25px;
  border: 2px solid #a8a8a8;

  p {
    color: #a8a8a8;
  }
}
