.nav {
  height: 100px;
  width: 100%;
  padding: 20px 54px;

  display: flex;
  flex-direction: row;
  align-items: center;

  border-bottom: 1px solid #ddd;
  background-color: var(--White-50, #fff);

  position: sticky;
  top: 0;
  left: 0;

  z-index: 1000;
}

.mid {
  border: solid red;
}
