.ui-wrapper {
  --background: rgba(255, 255, 255, 0.5);
  --text-color: rgb(73, 73, 73);
  --border-color: rgb(185, 184, 184);
  --border-focus-color: var(--color-primary);
  --shadow-color: rgba(37, 73, 150, 0.1);
  --shadow-focus-color: rgba(0, 110, 255, 0.2);
  --dropdown-button-color: #e6e6e6;
  --dropdown-button-hover-color: #dad9d9;
}

.ui-wrapper *,
.input-wrapper input[type='text'] {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  color: var(--main-color, #111);
}

.ui-wrapper {
  width: 215px;
  height: 60px;
  display: inline-flex;
  border-radius: 10px;
  position: relative;
  border-radius: 10px;
  border: 1px solid var(--White-50, #fff);
  background-color: var(--background);
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px 7px 20px;
  box-shadow: 0px 4px 10px 0px var(--shadow-color);
  transition: 0.4s;
  user-select: none;
  column-gap: 6px;

  & > input {
    appearance: none;
    margin: 0;
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    left: 9999px;
  }
}

.input-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.input-wrapper legend {
  label {
    color: var(--secondary-text-color, #666);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
  }
}

.input-wrapper .textfield input {
  color: var(--main-color, #111);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  width: 100%;
  outline: none;
  border: none;
  background: none;
}

.ui-wrapper:focus-within {
  border-color: var(--border-focus-color);
  box-shadow: 0px 2px 5px 0px var(--shadow-focus-color);
  -webkit-box-shadow: 0px 2px 5px 0px var(--shadow-focus-color);
}

.required--label::after {
  content: '*';
  margin-left: 0.25rem;
}

.input--disabled {
  opacity: 0.5;
  background-color: var(--color-primary);
  box-shadow: 0px 4px 10px 0px rgba(37, 73, 150, 0.4);

  *,
  legend > label,
  input[type='text'] {
    color: var(--Alto-50, #f7f7f7);
  }
}
