/* RefreshButton.css */
.refresh-button {
  position: absolute;
  top: 40px;
  right: 340px;
  z-index: 3000;
}
@media screen and (max-width: 1600px) {
  .refresh-button {
    right: 60px;
  }
}
.refresh-button button {
  display: inline-flex;
  padding: 17px 22px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;

  border-radius: 5px;
  border: 0.5px solid var(--White, #fff);
  background: rgba(125, 18, 255, 0);
  box-shadow: 0px 4px 20px 0px rgba(125, 18, 255, 0.2);
}
.refresh-button p {
  color: var(--White-50, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.24px;
}
/* RefreshButton.css */

/* SwipeCardWrapper.css */
.card-wrapper {
  width: 100%;
}
.cards {
  display: flex;
  justify-content: space-evenly;
}

.indicator {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.indicatorItem {
  width: 40px;
  height: 6px;
  background-color: #dacdff;
  border-radius: 3px;
  margin: 0 5px;
  transition: width 0.3s ease-in-out;
}

.indicatorItem.active {
  width: 70px;
  background-color: #7d12ff;
}
/* SwipeCardWrapper.css */

/* SwipeCard.css */
.flip-card {
  width: 250px;
  height: 400px;
  perspective: 1000px;
  font-family: sans-serif;

  z-index: 1000;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border-radius: 1rem;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(-180deg);
}

.flip-card-front,
.flip-card-back {
  background-color: #fff;
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 1rem;
}

.flip-card-back {
  transform: rotateY(-180deg);
  box-shadow: 0px 0px 10px 0px #ffda4e;
}
/* SwipeCard.css */

/* BackCard.css */
.back {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  /* 
  gap: 14px; */

  padding: 0 30px;
}

.profile {
  height: 55px;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 26px;
  margin-bottom: 10px;
}
.profile .image {
  width: 55px;
  height: 55px;
  border-radius: 55px;
  border: 1px solid #939393;
}
.profile .nickname {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  color: #7d12ff;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.level {
  font-size: 14px;
}
.name {
  font-size: 16px;
}

.desc-all {
  display: flex;
  flex-direction: column;
  gap: 17px;

  margin-top: 24px;
  margin-bottom: 14px;
}
.desc-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  height: 54px;
}
.desc-wrapper .desc-title {
  color: #7d12ff;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.desc-wrapper .desc-content {
  color: #4e4e4e;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;

  white-space: wrap;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.main-option > *:not(:first-child) {
  padding-left: 6px;
  position: relative;
}
.main-option > *:not(:first-child)::before {
  content: '/';
  position: absolute;
  left: 0;
  top: 0;
}

.button-wrapper {
  width: 80%;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}
/* BackCard.css */
