.left {
  min-width: 380px;
  height: calc(100vh - 100px);
  padding: 0 50px;
  background-color: var(--White-50, #fff);
  overflow-y: scroll;
}
/* TODO: 스크롤바 커스텀 */
.left::-webkit-scrollbar {
  display: none;
}
