/* MessageContainer.css */
.messages-container {
  width: 380px;
  height: calc(100vh - 100px);
  padding: 40px 50px;
  overflow-y: scroll;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.messages-container::-webkit-scrollbar {
  display: none;
}

/* MessageContainer.css */
.chatroom {
  width: 100%;
  height: calc(100vh - 100px);

  position: relative;
  display: flex;
  flex-direction: column;
}

/* GroupChatHeader.css */
.header {
  height: 100px;
  width: 100%;

  display: flex;
  padding: 20px 50px 20px 20px;
  justify-content: flex-start;
  align-items: center;

  background: var(--nav-color);
  border-bottom: 1px solid var(--nav-border);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.09);
}

.image {
  border-radius: 9999px;
}
.roomInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 24px;
  gap: 3px;
}
.roomInfo h3 {
  color: var(--text-title);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.roomInfo p {
  color: var(--text-sub);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.icons {
  display: flex;
}
.icons button,
.back {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.roomPopup {
  padding: 100px 50px;
}
