.chatroom {
  width: 100%;
  height: calc(100vh - 100px);

  position: relative;
  display: flex;
  flex-direction: column;
}

.header {
  height: 100px;
  width: 100%;

  background-color: red;
  position: absolute;
  z-index: 1200;
  top: -100px;
}
