.mdButton {
  display: inline-flex;
  width: 300px;
  height: 45px;
  padding: 0px 14px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.kakaoButton {
  border-radius: 6px;
  background: var(--kakao-bg, #fee500);

  & p {
    /* TODO: Apple SD Gothic Neo */
    /* font-family: ; */
    font-weight: 600;
    font-size: 15px;
    line-height: 22.5px;
  }
}
